body {
    text-align: center;
}
h1 {
    color: brown;
    margin-top: 1px;
    margin-bottom: 1px;
}
h2 {
    color: darksalmon;
    margin-top: 1px;
    margin-bottom: 1px;
}
h3 {
    color: red;
    margin-top: 1px;
    margin-bottom: 1px;
}
h4
{
    color: orange;
    margin-top: 1px;
    margin-bottom: 1px;
}
h5 {
    color: yellow;
    margin-top: 1px;
    margin-bottom: 1px;
}
h6 {
    color: green;
    margin-top: 1px;
    margin-bottom: 1px;
}