/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
}
div:nth-child(1){
    background-color: #1446a0;
}
div:nth-child(2){
    background-color: #db3069;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}
div:nth-child(3){
    background-color: #f5d547;
    grid-column: 3 / 4;
    grid-row: 3 / 3;
}
div:nth-child(4){
    background-color: #ebebd3;
    grid-column: 4 / 5;
    grid-row: 4 / 4;
}