body {
    background-color: pink;
    
}

ul {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25rem;
    list-style-type: none;
}

li {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    width: 10rem;
    height: 10rem;
}
 
#e {
    background-color: rgb(248, 155, 170);
}

#t {
    background-color: rgb(244, 137, 155);
}

#d {
    background-color: pink;
}

#v {
    background-color: pink;
}