/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
ul{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5vw;
    height: 100vh;
    padding: 5vw;
}
li{
    text-align: center;
    align-items: center;
    padding-top: 40vh;
    color: white;
    font-weight: 900;
    font-size: 5vw;
}
li:nth-child(1){background-color: darkturquoise;}
li:nth-child(2){background-color: darkviolet;}
li:nth-child(3){background-color: deepskyblue;}